<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziyan.dao.StaffchangeMapper">

    <resultMap id="BaseResultMap"
               type="com.ziyan.entity.Staffchange">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="sId" jdbcType="VARCHAR" property="sId"/>
        <result column="pIdOld" jdbcType="VARCHAR"
                property="pIdOld"/>
        <result column="pIdNew" jdbcType="VARCHAR"
                property="pIdNew"/>
        <result column="dIdOld" jdbcType="VARCHAR"
                property="dIdOld"/>
        <result column="dIdNew" jdbcType="VARCHAR"
                property="dIdNew"/>
        <result column="sNature" jdbcType="VARCHAR"
                property="sNature"/>
        <result column="sRemark" jdbcType="VARCHAR"
                property="sRemark"/>
    </resultMap>
    
    

    <resultMap id="BaseResultMap2"
               type="com.ziyan.entity.Staffchange">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="sId" jdbcType="VARCHAR" property="sId"/>
        <result column="pIdOld" jdbcType="VARCHAR"
                property="pIdOld"/>
        <result column="pIdNew" jdbcType="VARCHAR"
                property="pIdNew"/>
        <result column="dIdOld" jdbcType="VARCHAR"
                property="dIdOld"/>
        <result column="dIdNew" jdbcType="VARCHAR"
                property="dIdNew"/>
        <result column="sNature" jdbcType="VARCHAR"
                property="sNature"/>
        <result column="sRemark" jdbcType="VARCHAR"
                property="sRemark"/>
        <association column="sId" property="staff" resultMap="com.ziyan.dao.StaffMapper.BaseResultMap3">

         </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,sId,pIdOld,pIdNew,dIdOld,dIdNew,sNature,sRemark
    </sql>

    <select id="selectStaffChangeByPage" parameterType="Map" resultMap="BaseResultMap2">
        select
        sc.id,
        s.sId,
        s.sName,
        s.sSex,
        s.sBirthday,
        s.sIdentityId,
        s.sSalary,
        pt.pName,
        d.dName
        from staffchange as sc
        LEFT JOIN staff as s
        ON s.sId=sc.sId
        LEFT JOIN
        department d ON s.dId=d.dId
        LEFT JOIN
        postcategory pt ON pt.pId = s.sPost
        where
        1=1
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="getStaffchangeCount" resultType="int">
        select count(*) from staffchange
    </select>

    <insert id="addStaffChange" parameterType="com.ziyan.entity.Staffchange">
        insert into staffchange
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                sId,
            </if>
            <if test="pIdOld != null">
                pIdOld,
            </if>
            <if test="pIdNew != null">
                pIdNew,
            </if>
            <if test="dIdOld != null">
                dIdOld,
            </if>
            <if test="dIdNew != null">
                dIdNew,
            </if>
            <if test="sNature != null">
                sNature,
            </if>
            <if test="sRemark != null">
                sRemark
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                #{sId,jdbcType=VARCHAR},
            </if>
            <if test="pIdOld != null">
                #{pIdOld,jdbcType=VARCHAR},
            </if>
            <if test="pIdNew != null">
                #{pIdNew,jdbcType=VARCHAR},
            </if>
            <if test="dIdOld != null">
                #{dIdOld,jdbcType=VARCHAR},
            </if>
            <if test="dIdNew != null">
                #{dIdNew,jdbcType=VARCHAR},
            </if>
            <if test="sNature != null">
                #{sNature,jdbcType=VARCHAR},
            </if>
            <if test="sRemark != null">
                #{sRemark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>