<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziyan.dao.StaffchangeMapper">

    <resultMap id="BaseResultMap"
               type="com.ziyan.entity.Staffchange">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="sId" jdbcType="VARCHAR" property="sId"/>
        <result column="pIdOld" jdbcType="VARCHAR"
                property="pIdOld"/>
        <result column="pIdNew" jdbcType="VARCHAR"
                property="pIdNew"/>
        <result column="dIdOld" jdbcType="VARCHAR"
                property="dIdOld"/>
        <result column="dIdNew" jdbcType="VARCHAR"
                property="dIdNew"/>
        <result column="sNature" jdbcType="VARCHAR"
                property="sNature"/>
        <result column="sRemark" jdbcType="VARCHAR"
                property="sRemark"/>
    </resultMap>

    <insert id="addStaffChange" parameterType="com.ziyan.entity.Staffchange" >
        insert into staffchange
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                sId,
            </if>
            <if test="pIdOld != null">
                pIdOld,
            </if>
            <if test="pIdNew != null">
                pIdNew,
            </if>
            <if test="dIdOld != null">
                dIdOld,
            </if>
            <if test="dIdNew != null">
                dIdNew,
            </if>
            <if test="sNature != null">
                sNature,
            </if>
            <if test="sRemark != null">
                sRemark
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                #{sId,jdbcType=VARCHAR},
            </if>
            <if test="pIdOld != null">
                #{pIdOld,jdbcType=VARCHAR},
            </if>
            <if test="pIdNew != null">
                #{pIdNew,jdbcType=VARCHAR},
            </if>
            <if test="dIdOld != null">
                #{dIdOld,jdbcType=VARCHAR},
            </if>
            <if test="dIdNew != null">
                #{dIdNew,jdbcType=VARCHAR},
            </if>
            <if test="sNature != null">
                #{sNature,jdbcType=VARCHAR},
            </if>
            <if test="sRemark != null">
                #{sRemark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>