<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziyan.dao.StaffMapper">

    <resultMap id="BaseResultMap"
               type="com.ziyan.entity.Staff">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="sId" jdbcType="VARCHAR" property="sId"/>
        <result column="sName" jdbcType="VARCHAR"
                property="sName"/>
        <result column="sSex" jdbcType="VARCHAR"
                property="sSex"/>
        <result column="sBirthday" jdbcType="VARCHAR"
                property="sBirthday"/>
        <result column="sPost" jdbcType="VARCHAR"
                property="sPost"/>
        <result column="sSalary" jdbcType="VARCHAR"
                property="sSalary"/>
        <result column="sEntry" jdbcType="TIMESTAMP"
                property="sEntry"/>
        <result column="sIdentityId" jdbcType="VARCHAR"
                property="sIdentityId"/>
    </resultMap>

    <resultMap id="BaseResultMap2"
               type="com.ziyan.entity.Staff">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="sId" jdbcType="VARCHAR" property="sId"/>
        <result column="sName" jdbcType="VARCHAR"
                property="sName"/>
        <result column="sSex" jdbcType="VARCHAR"
                property="sSex"/>
        <result column="sBirthday" jdbcType="VARCHAR"
                property="sBirthday"/>
        <result column="sPost" jdbcType="VARCHAR"
                property="sPost"/>
        <result column="dId" jdbcType="VARCHAR"
                property="dId"/>
        <result column="sSalary" jdbcType="VARCHAR"
                property="sSalary"/>
        <result column="sEntry" jdbcType="TIMESTAMP"
                property="sEntry"/>
        <result column="sIdentityId" jdbcType="VARCHAR"
                property="sIdentityId"/>
        <association column="dId" property="sDepartment" resultMap="com.ziyan.dao.DepartmentMapper.BaseResultMap3"/>
        <association column="sPost" property="sPostcategory" resultMap="com.ziyan.dao.PostcategoryMapper.BaseResultMap"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,sId,sName,sSex,sBirthday,sPost,sSalary,sEntry,sIdentityId
    </sql>


    <select id="getStaff" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from staff
    </select>

    <select id="getStaffByPage" parameterType="Map" resultMap="BaseResultMap2">
        Select s.id,
        s.sId,
        s.sName,
        s.sSex,
        s.sBirthday,
        s.sPost,
        s.sSalary,
        s.sEntry,
        s.sIdentityId,
        d.dId,
        d.dName,
        d.dFunction,
        d.dLeader,
        pt.pName,
        pt.pId,
        pt.pSalary
        from staff s
        LEFT JOIN
        department d ON s.dId=d.dId
        LEFT JOIN
        postsetting ps on ps.dId=d.dId
        left Join
        postcategory pt ON ps.pId = pt.pId
        where 1=1 and pt.pId=s.sPost
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="selectStaffByName" parameterType="java.lang.String" resultMap="BaseResultMap2">
        Select  s.id,
        s.sId,
        s.sName,
        s.sSex,
        s.sBirthday,
        s.sPost,
        s.sSalary,
        s.sEntry,
        s.sIdentityId,
        d.dId,
        d.dName,
        d.dFunction,
        d.dLeader,
        pt.pName,
        pt.pId,
        pt.pSalary
        from staff s
        LEFT JOIN
        department d ON s.dId=d.dId
        LEFT JOIN
        postsetting ps on ps.dId=d.dId
        left Join
        postcategory pt ON ps.pId = pt.pId
        where 1=1 and pt.pId=s.sPost
        and s.sName=#{param1}
    </select>

    <select id="selectStaffByNameOrId" parameterType="com.ziyan.entity.Staff" resultMap="BaseResultMap2">
        Select s.id,
        s.sId,
        s.sName,
        s.sSex,
        s.sBirthday,
        s.sPost,
        s.sSalary,
        s.sEntry,
        s.sIdentityId,
        d.dId,
        d.dName,
        d.dFunction,
        d.dLeader,
        pt.pName,
        pt.pId,
        pt.pSalary

        from staff s
        LEFT JOIN
        department d ON s.dId=d.dId
        LEFT JOIN
        postsetting ps on ps.dId=d.dId
        left Join
        postcategory pt ON ps.pId = pt.pId
        where 1=1 and pt.pId=s.sPost
        <if test="sName != null and sName != '' ">
            and s.sName like concat('%',#{sName,jdbcType=VARCHAR},'%')
        </if>
        <if test="sId != null and sId != '' ">
            and s.sId = #{sId,jdbcType=VARCHAR}
        </if>

    </select>

    <select id="getStaffCount" resultType="int">
        select count(*) from staff
    </select>

    <select id="getStaffById" parameterType="java.lang.String" resultMap="BaseResultMap2">
   Select  s.id,
        s.sId,
        s.sName,
        s.sSex,
        s.sBirthday,
        s.sPost,
        s.sSalary,
        s.sEntry,
        s.sIdentityId,
        d.dId,
        d.dName,
        d.dFunction,
        d.dLeader,
        pt.pName
        from staff s
        LEFT JOIN
        department d ON s.dId=d.dId
        LEFT JOIN
        postsetting ps on ps.dId=d.dId
        left Join
        postcategory pt ON ps.pId = pt.pId
        where 1=1 and pt.pId=s.sPost and s.sId=#{param1}

    </select>

    <update id="updateStaff" parameterType="com.ziyan.entity.Staff">
        update staff
        <trim prefix="set" suffixOverrides=",">
            <if test="sName!=null">
                sName=#{sName,jdbcType=VARCHAR},
            </if>
            <if test="sSex!=null">
                sSex=#{sSex,jdbcType=VARCHAR},
            </if>
            <if test="sBirthday!=null">
                sBirthday=#{sBirthday,jdbcType=VARCHAR},
            </if>
            <if test="sPost!=null">
                sPost=#{sPost,jdbcType=VARCHAR},
            </if>
            <if test="dId!=null">
                dId=#{dId,jdbcType=VARCHAR},
            </if>
            <if test="sSalary!=null">
                sSalary=#{sSalary,jdbcType=VARCHAR},
            </if>

            <if test="sEntry!=null">
                sEntry=#{sEntry,jdbcType=TIMESTAMP},
            </if>
            <if test="sIdentityId!=null">
                sIdentityId=#{sIdentityId,jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE sId=#{sId,jdbcType=VARCHAR}
    </update>


    <insert id="addStaff" parameterType="com.ziyan.entity.Staff">
        insert into staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                sId,
            </if>
            <if test="sName != null">
                sName,
            </if>
            <if test="sSex != null">
                sSex,
            </if>
            <if test="sBirthday != null">
                sBirthday,
            </if>
            <if test="sPost != null">
                sPost,
            </if>
            <if test="dId != null">
                dId,
            </if>
            <if test="sSalary != null">
                sSalary,
            </if>
            <if test="sEntry != null">
                sEntry,
            </if>
            <if test="sIdentityId != null">
                sIdentityId,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                #{sId,jdbcType=VARCHAR},
            </if>
            <if test="sName != null">
                #{sName,jdbcType=VARCHAR},
            </if>
            <if test="sSex != null">
                #{sSex,jdbcType=VARCHAR},
            </if>
            <if test="sBirthday != null">
                #{sBirthday,jdbcType=VARCHAR},
            </if>
            <if test="sPost != null">
                #{sPost,jdbcType=VARCHAR},
            </if>
            <if test="dId != null">
                #{dId,jdbcType=VARCHAR},
            </if>
            <if test="sSalary != null">
                #{sSalary,jdbcType=INTEGER},
            </if>
            <if test="sEntry != null">
                #{sEntry,jdbcType=TIMESTAMP},
            </if>
            <if test="sIdentityId != null">
                #{sIdentityId,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>
</mapper>