<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziyan.dao.UserMapper">

    <resultMap id="BaseResultMap"
               type="com.ziyan.entity.User">
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR"
                property="userName" />
        <result column="pass_word" jdbcType="VARCHAR"
                property="passWord" />
        <result column="email" jdbcType="VARCHAR"
                property="email" />
        <result column="state" jdbcType="INTEGER" property="state" />
    </resultMap>





    <sql id="Base_Column_List">
		user_id, user_name, pass_word,email,state
	</sql>

    <select id="checkUserByNameAndPass"
            parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from admin
        where user_name=#{param1} AND pass_word=#{param2}
    </select>























</mapper>