.top22 {
    margin: 0 0 0 0;
    padding: 0;
    height: 100px;
    width: 100%;
    background-image: url(../images/top_bg.gif);
    background-color: #c4eaf3;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.top33 {
    float: left;
    margin: 0 0 0 0;
    paddiing: 0;
    width: 100%;
    height: 22px;
    background-image: url(../images/top_menu_bg.jpg);
    background-repeat: repeat-x;
}